@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&family=Ubuntu:wght@300;400;700&display=swap");

main {
  padding-top: 10vh;
  height: 100vh;
  background: url(img/bg.jpg);
    background-size: 100% 100%;

}

.card {
  margin: auto;
  width: 30rem;
  border-radius: 0;
  padding-left: 2vw;
  padding-right: 2vw;
}
.input-col {
  width: 28rem;
  border-width: 5px;
  border-color: red;
}
.submit {
  width: 150px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 25px;
}

@media (max-width: 600px) {
  .card {
    width: 90vw;
    margin-top: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
  }
  main {
    padding-top: 9vh;
  }
}
